.scoreContainer {
  font-family: monospace;
  font-weight: 700;
  font-size: 1.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  background-color: rgb(17, 0, 255);
}
