@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.active-player-info {
    font-family: $font-heading;
    font-size: 20px;
}

.in-game-container {
    width: 100%;
    padding: $space-md;
    @include stack($gap: $space-md, $align: center);
}

.restart-level-score-div {
    width: 100%;
    @include flex-between($align: center);
    gap: $space-md;
    // flex-wrap: wrap;
}
.level-and-score-div {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    font-family: $font-heading;
}

.timer-and-lives-div {
    display: flex;
    gap: 1rem;
    align-items: flex-end;

    font-size: 1.5rem;
    p {
        font-family: $font-heading;
        width: 120px;
    }
    .lives {
    width: 100px;
    text-align: right;
}
}

.gameboard {
    @include stack($gap: $space-md, $align: center);
}

.countdown {
    font-size: 150px;
    font-family: $font-heading;
    margin: 0;
}
.shape-and-instruction-div {
    @include panel;
    display: flex;
    gap: $space-xl;
    align-items: center;
    padding: $space-md;

    .instruction {
        font-weight: 600;
        font-size: 1rem;
        margin: 0;
    }

}
.shapes-div {
    @include panel;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $space-md;
    padding: $space-md;
    width: calc((40px + $space-md)*7);
}

.jump-score {
    animation: jump-score 0.7s ease-out;
    display: inline-block;
}

@keyframes jump-score {
    0% { transform: scale(0.8); }
    50% { 
        transform: scale(1.4); 
        color: $color-yellow; 
        text-shadow: 1px 1px 3px white; 
    }
    100% { transform: scale(1); }
}

.jump-level {
    animation: jump-level 0.6s ease-out;
    display: inline-block;
}

@keyframes jump-level {
    0% { transform: scale(0.7); }
    50% {
        transform: scale(1.1); 
        color: $color-green; 
    }
    100% { transform: scale(1); }
}

.pulse {
    animation: pulse 1s ease infinite;
    display: inline-block;
}

@keyframes pulse {
    0% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.fade-in {
    animation: fade-in 0.7s ease-in;
}

@keyframes fade-in {
    0% { filter: brightness(0);}
    100% { filter: brightness(1); }
}
@media (max-width: 470px) {
    .shapes-div {
        width: calc((30px + $space-md)*7);
    }
    .end-game-btn, .restart-btn {
        font-family: 0;
    }
}