@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.in-game-container {
    width: 100%;
    padding: 1rem;
    @include stack($gap: 0, $align: center);
}

.restart-level-score-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.level-and-score-div {
    display: flex;
    gap: 1rem;
}

.timer-and-lives-div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-end;
    
}
.timer {
    font-size: 1.5rem;
}
.lives {
    font-size: 1.5rem;
}
.gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown {
    font-size: 150px;
}
.shapes-div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: calc((50px + 0.5rem)*9)
}