@use "../abstracts/mixins" as *;

.triangle {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom-width: 70px;
  border-bottom-style: solid;
}

.square {
  width: 70px;
  height: 70px;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.star {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  width: 70px;
  height: 70px;
}

.shape-item:hover {
  cursor: pointer;
  transform: translateY(-2px);
  filter: brightness(1.3);
}

.shape-item:hover:not(:active) {
  transform: translateY(0px);
  filter: brightness(1);
}


.correct {
  animation: correct 0.3s ease-in forwards;

}

@keyframes correct {
  0% {
    transform: scale(1.5);
    filter: brightness(1.8);
  }
  100% {
    transform: scale(1);
    filter: brightness(0.3);
  }
}

.incorrect {
  animation: incorrect 0.3s;
}

@keyframes incorrect {
  0% { transform: translateX(-3px); filter: brightness(0.3); }
  25% { transform: translateX(3px); }
  50% { transform: translateX(-3px); filter: brightness(0.3); }
  100% { transform: translateX(0); }
}
@media (max-height: 930px) {
      .triangle {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom-width: 40px;
  }
  .square {
    width: 40px;
    height: 40px;
  }
  .circle {
    width: 40px;
    height: 40px;
  }
  .star {
    width: 40px;
    height: 40px;
  }
}
@include responsive(700px) {
    .triangle {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom-width: 50px;
  }
  .square {
    width: 50px;
    height: 50px;
  }
  .circle {
    width: 50px;
    height: 50px;
  }
  .star {
    width: 50px;
    height: 50px;
  }
}
@include responsive(470px) {
  .triangle {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom-width: 30px;
  }
  .square {
    width: 30px;
    height: 30px;
  }
  .circle {
    width: 30px;
    height: 30px;
  }
  .star {
    width: 30px;
    height: 30px;
  }
}
